.new{
            margin: 58px auto;
}

h3{
    text-align:center;
}


h2{
    text-align:center;
    font-style: italic;
    text-decoration: underline;
    
}

h4{
    padding: 15px;
    margin: auto;
    padding-left: 101px;
}


ul {
    list-style: inside;
    padding-left: 101px;
    background: azure;
}
p{
    margin: auto;
    font-size: larger;
    padding-left: 101px;
    background: azure;
}
